img{ width:400px;}
h2{background:orange;
color: coral;}
h1{background: cyan;
color: cornsilk;}
a{color: darkkhaki;
text-decoration:none;}
p{background: darkgray;
color:cadetblue;}
ul{background: crimson;}
li{ background:yellow;}
